USE [UMIG]
GO
/****** Object:  Table [dbo].[CHAPTER_CHA]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_CHA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHA_CODE] [nchar](10) NULL,
	[CHA_NAME] [nchar](10) NULL,
 CONSTRAINT [PK_CHAPTER_CHA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
