USE [UMIG]
GO
/****** Object:  Table [dbo].[ADDITIONAL_INSTRUCTIONS_AIS]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS](
	[ID] [int] NOT NULL,
	[STP_ID] [int] NOT NULL,
	[INSTRUCTIONS] [varchar](max) NULL,
 CONSTRAINT [PK_ADDITIONAL_INSTRUCTIONS_AIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
