USE [UMIG]
GO
/****** Object:  Table [dbo].[STEPS_INSTRUCTIONS_SIN]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEPS_INSTRUCTIONS_SIN](
	[ID] [int] NOT NULL,
	[INS_ID] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_STEPS_INSTRUCTIONS_SIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_INSTRUCTIONS_INS] FOREIGN KEY([INS_ID])
REFERENCES [dbo].[INSTRUCTIONS_INS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN] CHECK CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_INSTRUCTIONS_INS]
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN] CHECK CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_TEAMS_TMS]
GO
