USE [UMIG]
GO
/****** Object:  Table [dbo].[CONTROLS_CTL]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROLS_CTL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CTL_CODE] [nchar](10) NULL,
	[CTL_NAME] [nchar](10) NULL,
	[PHS_ID] [int] NULL,
 CONSTRAINT [PK_CONTROLS_CTL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
