USE [UMIG]
GO
/****** Object:  Table [dbo].[MIGRATIONS_ENVIRONMENTS_MEV]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MIG_ID] [int] NOT NULL,
	[ENV_ID] [int] NOT NULL,
 CONSTRAINT [PK_MIGRATIONS_ENVIRONMENTS_MEV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV]  WITH CHECK ADD  CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_ENVIRONMENTS_ENV] FOREIGN KEY([ENV_ID])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV] CHECK CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_ENVIRONMENTS_ENV]
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV]  WITH CHECK ADD  CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_MIGRATIONS_MIG] FOREIGN KEY([MIG_ID])
REFERENCES [dbo].[MIGRATIONS_MIG] ([ID])
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV] CHECK CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_MIGRATIONS_MIG]
GO
