USE [UMIG]
GO
/****** Object:  Table [dbo].[IMPACTED_TEAMS_ITS]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPACTED_TEAMS_ITS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STP_ID] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_IMPACTED_TEAMS_ITS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMPACTED_TEAMS_ITS]  WITH CHECK ADD  CONSTRAINT [FK_IMPACTED_TEAMS_ITS_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[IMPACTED_TEAMS_ITS] CHECK CONSTRAINT [FK_IMPACTED_TEAMS_ITS_TEAMS_TMS]
GO
