/* Styles for the UMIG Implementation Plan Macro */

.umig-ip-macro-container .error-message {
    color: #d04437; /* AUI error color */
    font-weight: bold;
}

#ip-list-container table {
    width: 100%;
}
