USE [UMIG]
GO
/****** Object:  Table [dbo].[ADDITIONAL_INSTRUCTIONS_AIS]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS](
	[ID] [int] NOT NULL,
	[STP_ID] [int] NOT NULL,
	[INSTRUCTIONS] [varchar](max) NULL,
	[USR_ID] [int] NOT NULL,
	[ITE_ID] [int] NULL,
 CONSTRAINT [PK_ADDITIONAL_INSTRUCTIONS_AIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPLICATIONS_APP]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATIONS_APP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APP_CODE] [nvarchar](50) NOT NULL,
	[APP_NAME] [nchar](10) NULL,
	[APP_DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_APPLICATIONS_APP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER_CHA]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER_CHA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHA_CODE] [nchar](10) NULL,
	[CHA_NAME] [nchar](10) NULL,
	[SQC_ID] [int] NULL,
	[CHA_PREVIOUS] [int] NULL,
	[CHA_START_DATE] [datetime] NULL,
	[CHA_END_DATE] [datetime] NULL,
	[CHA_EFFECTIVE_START_DATE] [datetime] NULL,
	[CHA_EFFECTIVE_END_DATE] [datetime] NULL,
 CONSTRAINT [PK_CHAPTER_CHA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROLS_CTL]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROLS_CTL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CTL_CODE] [nchar](10) NULL,
	[CTL_NAME] [nvarchar](max) NULL,
	[CTL_PRODUCER] [int] NULL,
	[CTL_IT_VALIDATOR] [int] NULL,
	[CTL_IT_COMMENTS] [nvarchar](max) NULL,
	[CTL_BIZ_COMMENTS] [nvarchar](max) NULL,
	[CTL_BIZ_VALIDATOR] [int] NULL,
 CONSTRAINT [PK_CONTROLS_CTL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIRONMENTS_APPLICATIONS_EAP]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENV_ID] [nchar](10) NOT NULL,
	[APP_ID] [int] NOT NULL,
	[EAP_COMMENTS] [nvarchar](max) NULL,
 CONSTRAINT [PK_ENVIRONMENTS_APPLICATIONS_EAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIRONMENTS_ENV]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIRONMENTS_ENV](
	[ID] [nchar](10) NOT NULL,
	[ENV_CODE] [nchar](10) NOT NULL,
	[ENV_DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_ENVIRONMENTS_ENV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIRONMENTS_ITERATIONS_EIT]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIRONMENTS_ITERATIONS_EIT](
	[ID] [int] NOT NULL,
	[ENV_ID] [nchar](10) NOT NULL,
	[ITE_ID] [int] NOT NULL,
	[EIT_ROLE] [nchar](10) NULL,
 CONSTRAINT [PK_ENVIRONMENTS_ITERATIONS_EIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPACTED_TEAMS_ITS]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPACTED_TEAMS_ITS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STP_ID] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_IMPACTED_TEAMS_ITS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTRUCTIONS_INS]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTRUCTIONS_INS](
	[ID] [int] NOT NULL,
	[INS_CONTENT] [nchar](10) NULL,
	[CTL_ID] [int] NULL,
	[INS_DURATION] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_INSTRUCTIONS_INS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITERATION_ITE]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITERATION_ITE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITE_CODE] [nchar](10) NULL,
	[ITE_NAME] [nchar](10) NULL,
	[MIG_ID] [int] NULL,
	[ITE_DESCRIPTION] [nvarchar](max) NULL,
	[ITE_START_DATE] [date] NULL,
	[ITE_END_DATE] [date] NULL,
 CONSTRAINT [PK_ITERATION_ITE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITERATIONS_TRACKING_ITT]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITERATIONS_TRACKING_ITT](
	[ID] [nchar](10) NOT NULL,
	[MIG_CODE] [nchar](10) NULL,
	[ITE_CODE] [nchar](10) NULL,
	[ENTITY_TYPE] [nchar](10) NULL,
	[ENTITY_CODE] [nchar](10) NULL,
	[Time] [nchar](10) NULL,
	[STS_CODE] [nchar](10) NULL,
	[USR_ID] [nchar](10) NULL,
	[USR_FIRSTNAME] [nchar](10) NULL,
	[USR_LASTNAME] [nchar](10) NULL,
 CONSTRAINT [PK_AUDIT_STEPS_AUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIGRATIONS_ENVIRONMENTS_MEV]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MIG_ID] [int] NOT NULL,
	[ENV_ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MIGRATIONS_ENVIRONMENTS_MEV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIGRATIONS_MIG]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATIONS_MIG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MIG_CODE] [nchar](10) NOT NULL,
	[MIG_NAME] [nchar](10) NULL,
	[MIG_DESCRIPTION] [nvarchar](max) NULL,
	[MIG_PLANNED_START_DATE] [date] NULL,
	[MIG_PLANNED_END_DATE] [date] NULL,
 CONSTRAINT [PK_MIGRATIONS_MIG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES_RLS]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES_RLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RLS_CODE] [nvarchar](10) NOT NULL,
	[RLS_NAME] [nvarchar](30) NOT NULL,
	[RLS_DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_ROLES_RLS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEQUENCES_SQC]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQUENCES_SQC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SQC_CODE] [nvarchar](50) NOT NULL,
	[SQC_NAME] [nvarchar](50) NULL,
	[SQC_START_DATE] [datetime] NULL,
	[SQC_END_DATE] [datetime] NULL,
	[MIG_ID] [int] NULL,
	[SQC_ORDER] [int] NULL,
 CONSTRAINT [PK_PHASES_PHS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_STS]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_STS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STS_CODE] [nvarchar](50) NOT NULL,
	[STS_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_STATUS_STS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEP_TYPE_STT]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEP_TYPE_STT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STT_CODE] [nchar](10) NULL,
	[STT_DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_STEP_TYPE_STT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEPS_INSTRUCTIONS_SIN]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEPS_INSTRUCTIONS_SIN](
	[ID] [int] NOT NULL,
	[INS_ID] [int] NULL,
	[STP_ID] [int] NULL,
	[INS_ORDER] [int] NULL,
 CONSTRAINT [PK_STEPS_INSTRUCTIONS_SIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEPS_SEQUENCES_SQC]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEPS_SEQUENCES_SQC](
	[ID] [int] NOT NULL,
	[STP_ID] [int] NULL,
	[SQC_ID] [int] NULL,
 CONSTRAINT [PK_STEPS_PHASES_STE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEPS_STP]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEPS_STP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STP_CODE] [int] NOT NULL,
	[STP_NAME] [nchar](10) NULL,
	[STP_DURATION] [int] NULL,
	[OWNER_ID] [int] NULL,
	[STP_PREVIOUS] [int] NULL,
	[STS_ID] [int] NULL,
	[TARGET_ENV] [nchar](10) NULL,
	[CHA_ID] [int] NULL,
	[STT_TYPE] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_STEPS_STP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAMS_APPLICATIONS_TAP]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS_APPLICATIONS_TAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APP_ID] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_TEAMS_APPLICATIONS_TAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAMS_TMS]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS_TMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TMS_CODE] [nvarchar](50) NOT NULL,
	[TMS_NAME] [nvarchar](64) NOT NULL,
	[TMS_EMAIL] [varchar](64) NOT NULL,
	[TMS_DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_TEAMS_TMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_USR]    Script Date: 23.06.2025 13:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_USR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_FIRSTNAME] [nvarchar](max) NULL,
	[USR_LASTNAME] [nvarchar](max) NULL,
	[USR_EMAIL] [nvarchar](max) NULL,
	[TMS_ID] [int] NULL,
	[RLE_ID] [int] NULL,
 CONSTRAINT [PK_USERS_USR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS]  WITH CHECK ADD  CONSTRAINT [FK_ADDITIONAL_INSTRUCTIONS_AIS_ITERATION_ITE] FOREIGN KEY([ITE_ID])
REFERENCES [dbo].[ITERATION_ITE] ([ID])
GO
ALTER TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS] CHECK CONSTRAINT [FK_ADDITIONAL_INSTRUCTIONS_AIS_ITERATION_ITE]
GO
ALTER TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS]  WITH CHECK ADD  CONSTRAINT [FK_ADDITIONAL_INSTRUCTIONS_AIS_STEPS_STP] FOREIGN KEY([STP_ID])
REFERENCES [dbo].[STEPS_STP] ([ID])
GO
ALTER TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS] CHECK CONSTRAINT [FK_ADDITIONAL_INSTRUCTIONS_AIS_STEPS_STP]
GO
ALTER TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS]  WITH CHECK ADD  CONSTRAINT [FK_ADDITIONAL_INSTRUCTIONS_AIS_USERS_USR] FOREIGN KEY([USR_ID])
REFERENCES [dbo].[USERS_USR] ([ID])
GO
ALTER TABLE [dbo].[ADDITIONAL_INSTRUCTIONS_AIS] CHECK CONSTRAINT [FK_ADDITIONAL_INSTRUCTIONS_AIS_USERS_USR]
GO
ALTER TABLE [dbo].[CHAPTER_CHA]  WITH CHECK ADD  CONSTRAINT [FK_CHAPTER_CHA_SEQUENCES_SQC] FOREIGN KEY([SQC_ID])
REFERENCES [dbo].[SEQUENCES_SQC] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER_CHA] CHECK CONSTRAINT [FK_CHAPTER_CHA_SEQUENCES_SQC]
GO
ALTER TABLE [dbo].[CONTROLS_CTL]  WITH CHECK ADD  CONSTRAINT [FK_CONTROLS_CTL_TEAMS_TMS] FOREIGN KEY([CTL_IT_VALIDATOR])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[CONTROLS_CTL] CHECK CONSTRAINT [FK_CONTROLS_CTL_TEAMS_TMS]
GO
ALTER TABLE [dbo].[CONTROLS_CTL]  WITH CHECK ADD  CONSTRAINT [FK_CONTROLS_CTL_TEAMS_TMS1] FOREIGN KEY([CTL_BIZ_VALIDATOR])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[CONTROLS_CTL] CHECK CONSTRAINT [FK_CONTROLS_CTL_TEAMS_TMS1]
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP]  WITH CHECK ADD  CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_APPLICATIONS_APP] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATIONS_APP] ([ID])
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP] CHECK CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_APPLICATIONS_APP]
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP]  WITH CHECK ADD  CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_ENVIRONMENTS_ENV] FOREIGN KEY([ENV_ID])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP] CHECK CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_ENVIRONMENTS_ENV]
GO
ALTER TABLE [dbo].[ENVIRONMENTS_ITERATIONS_EIT]  WITH CHECK ADD  CONSTRAINT [FK_ENVIRONMENTS_ITERATIONS_EIT_ENVIRONMENTS_ENV] FOREIGN KEY([ENV_ID])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[ENVIRONMENTS_ITERATIONS_EIT] CHECK CONSTRAINT [FK_ENVIRONMENTS_ITERATIONS_EIT_ENVIRONMENTS_ENV]
GO
ALTER TABLE [dbo].[ENVIRONMENTS_ITERATIONS_EIT]  WITH CHECK ADD  CONSTRAINT [FK_ENVIRONMENTS_ITERATIONS_EIT_ITERATION_ITE] FOREIGN KEY([ITE_ID])
REFERENCES [dbo].[ITERATION_ITE] ([ID])
GO
ALTER TABLE [dbo].[ENVIRONMENTS_ITERATIONS_EIT] CHECK CONSTRAINT [FK_ENVIRONMENTS_ITERATIONS_EIT_ITERATION_ITE]
GO
ALTER TABLE [dbo].[IMPACTED_TEAMS_ITS]  WITH CHECK ADD  CONSTRAINT [FK_IMPACTED_TEAMS_ITS_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[IMPACTED_TEAMS_ITS] CHECK CONSTRAINT [FK_IMPACTED_TEAMS_ITS_TEAMS_TMS]
GO
ALTER TABLE [dbo].[INSTRUCTIONS_INS]  WITH CHECK ADD  CONSTRAINT [FK_INSTRUCTIONS_INS_CONTROLS_CTL] FOREIGN KEY([CTL_ID])
REFERENCES [dbo].[CONTROLS_CTL] ([ID])
GO
ALTER TABLE [dbo].[INSTRUCTIONS_INS] CHECK CONSTRAINT [FK_INSTRUCTIONS_INS_CONTROLS_CTL]
GO
ALTER TABLE [dbo].[INSTRUCTIONS_INS]  WITH CHECK ADD  CONSTRAINT [FK_INSTRUCTIONS_INS_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[INSTRUCTIONS_INS] CHECK CONSTRAINT [FK_INSTRUCTIONS_INS_TEAMS_TMS]
GO
ALTER TABLE [dbo].[ITERATION_ITE]  WITH CHECK ADD  CONSTRAINT [FK_ITERATION_ITE_MIGRATIONS_MIG] FOREIGN KEY([MIG_ID])
REFERENCES [dbo].[MIGRATIONS_MIG] ([ID])
GO
ALTER TABLE [dbo].[ITERATION_ITE] CHECK CONSTRAINT [FK_ITERATION_ITE_MIGRATIONS_MIG]
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV]  WITH CHECK ADD  CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_ENVIRONMENTS_ENV] FOREIGN KEY([ENV_ID])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV] CHECK CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_ENVIRONMENTS_ENV]
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV]  WITH CHECK ADD  CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_MIGRATIONS_MIG] FOREIGN KEY([MIG_ID])
REFERENCES [dbo].[MIGRATIONS_MIG] ([ID])
GO
ALTER TABLE [dbo].[MIGRATIONS_ENVIRONMENTS_MEV] CHECK CONSTRAINT [FK_MIGRATIONS_ENVIRONMENTS_MEV_MIGRATIONS_MIG]
GO
ALTER TABLE [dbo].[SEQUENCES_SQC]  WITH CHECK ADD  CONSTRAINT [FK_PHASES_PHS_MIGRATIONS_MIG] FOREIGN KEY([MIG_ID])
REFERENCES [dbo].[MIGRATIONS_MIG] ([ID])
GO
ALTER TABLE [dbo].[SEQUENCES_SQC] CHECK CONSTRAINT [FK_PHASES_PHS_MIGRATIONS_MIG]
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_INSTRUCTIONS_INS] FOREIGN KEY([INS_ID])
REFERENCES [dbo].[INSTRUCTIONS_INS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN] CHECK CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_INSTRUCTIONS_INS]
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_STEPS_STP] FOREIGN KEY([STP_ID])
REFERENCES [dbo].[STEPS_STP] ([ID])
GO
ALTER TABLE [dbo].[STEPS_INSTRUCTIONS_SIN] CHECK CONSTRAINT [FK_STEPS_INSTRUCTIONS_SIN_STEPS_STP]
GO
ALTER TABLE [dbo].[STEPS_SEQUENCES_SQC]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_PHASES_STE_PHASES_PHS] FOREIGN KEY([SQC_ID])
REFERENCES [dbo].[SEQUENCES_SQC] ([ID])
GO
ALTER TABLE [dbo].[STEPS_SEQUENCES_SQC] CHECK CONSTRAINT [FK_STEPS_PHASES_STE_PHASES_PHS]
GO
ALTER TABLE [dbo].[STEPS_SEQUENCES_SQC]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_PHASES_STE_STEPS_STP] FOREIGN KEY([STP_ID])
REFERENCES [dbo].[STEPS_STP] ([ID])
GO
ALTER TABLE [dbo].[STEPS_SEQUENCES_SQC] CHECK CONSTRAINT [FK_STEPS_PHASES_STE_STEPS_STP]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_CHAPTER_CHA] FOREIGN KEY([CHA_ID])
REFERENCES [dbo].[CHAPTER_CHA] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_CHAPTER_CHA]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_ENVIRONMENTS_ENV] FOREIGN KEY([TARGET_ENV])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_ENVIRONMENTS_ENV]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_STATUS_STS] FOREIGN KEY([STS_ID])
REFERENCES [dbo].[STATUS_STS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_STATUS_STS]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_STEP_TYPE_STT1] FOREIGN KEY([STT_TYPE])
REFERENCES [dbo].[STEP_TYPE_STT] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_STEP_TYPE_STT1]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_TEAMS_TMS]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_USERS_USR] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[USERS_USR] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_USERS_USR]
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP]  WITH CHECK ADD  CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_APPLICATIONS_APP] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATIONS_APP] ([ID])
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP] CHECK CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_APPLICATIONS_APP]
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP]  WITH CHECK ADD  CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP] CHECK CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_TEAMS_TMS]
GO
ALTER TABLE [dbo].[USERS_USR]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USR_ROLES_RLS] FOREIGN KEY([RLE_ID])
REFERENCES [dbo].[ROLES_RLS] ([ID])
GO
ALTER TABLE [dbo].[USERS_USR] CHECK CONSTRAINT [FK_USERS_USR_ROLES_RLS]
GO
ALTER TABLE [dbo].[USERS_USR]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USR_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[USERS_USR] CHECK CONSTRAINT [FK_USERS_USR_TEAMS_TMS]
GO
