USE [UMIG]
GO
/****** Object:  Table [dbo].[TEAMS_TMS]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS_TMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TMS_CODE] [nvarchar](50) NOT NULL,
	[TMS_NAME] [nvarchar](64) NOT NULL,
	[TMS_EMAIL] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TEAMS_TMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
