USE [UMIG]
GO
/****** Object:  Table [dbo].[USERS_USR]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_USR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_FIRSTNAME] [nvarchar](max) NULL,
	[USR_LASTNAME] [nvarchar](max) NULL,
	[USR_EMAIL] [nvarchar](max) NULL,
	[TMS_ID] [int] NULL,
	[RLE_ID] [int] NULL,
 CONSTRAINT [PK_USERS_USR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERS_USR]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USR_ROLES_RLS] FOREIGN KEY([RLE_ID])
REFERENCES [dbo].[ROLES_RLS] ([ID])
GO
ALTER TABLE [dbo].[USERS_USR] CHECK CONSTRAINT [FK_USERS_USR_ROLES_RLS]
GO
ALTER TABLE [dbo].[USERS_USR]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USR_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[USERS_USR] CHECK CONSTRAINT [FK_USERS_USR_TEAMS_TMS]
GO
