USE [UMIG]
GO
/****** Object:  Table [dbo].[ENVIRONMENTS_APPLICATIONS_EAP]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENV_ID] [int] NOT NULL,
	[APP_ID] [int] NOT NULL,
 CONSTRAINT [PK_ENVIRONMENTS_APPLICATIONS_EAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP]  WITH CHECK ADD  CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_APPLICATIONS_APP] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATIONS_APP] ([ID])
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP] CHECK CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_APPLICATIONS_APP]
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP]  WITH CHECK ADD  CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_ENVIRONMENTS_ENV] FOREIGN KEY([ENV_ID])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[ENVIRONMENTS_APPLICATIONS_EAP] CHECK CONSTRAINT [FK_ENVIRONMENTS_APPLICATIONS_EAP_ENVIRONMENTS_ENV]
GO
