USE [UMIG]
GO
/****** Object:  Table [dbo].[STEPS_STP]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEPS_STP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STP_NAME] [nchar](10) NULL,
	[STP_INSTRUCTION] [nchar](10) NULL,
	[STP_START_DATE] [datetime] NULL,
	[STP_END_DATE] [date] NULL,
	[TMS_ID] [int] NULL,
	[USR_ID] [int] NULL,
	[SIN_ID] [int] NULL,
	[PHS_ID] [int] NULL,
	[STP_PREVIOUS] [int] NULL,
	[STS_ID] [int] NULL,
	[ENV_ID] [int] NULL,
	[ITS_ID] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_ENVIRONMENTS_ENV] FOREIGN KEY([ENV_ID])
REFERENCES [dbo].[ENVIRONMENTS_ENV] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_ENVIRONMENTS_ENV]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_PHASES_PHS] FOREIGN KEY([PHS_ID])
REFERENCES [dbo].[PHASES_PHS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_PHASES_PHS]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_STATUS_STS] FOREIGN KEY([STS_ID])
REFERENCES [dbo].[STATUS_STS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_STATUS_STS]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_STEPS_INSTRUCTIONS_SIN] FOREIGN KEY([SIN_ID])
REFERENCES [dbo].[STEPS_INSTRUCTIONS_SIN] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_STEPS_INSTRUCTIONS_SIN]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_TEAMS_TMS]
GO
ALTER TABLE [dbo].[STEPS_STP]  WITH CHECK ADD  CONSTRAINT [FK_STEPS_STP_USERS_USR] FOREIGN KEY([USR_ID])
REFERENCES [dbo].[USERS_USR] ([ID])
GO
ALTER TABLE [dbo].[STEPS_STP] CHECK CONSTRAINT [FK_STEPS_STP_USERS_USR]
GO
