USE [UMIG]
GO
/****** Object:  Table [dbo].[TEAMS_APPLICATIONS_TAP]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS_APPLICATIONS_TAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APP_ID] [int] NULL,
	[TMS_ID] [int] NULL,
 CONSTRAINT [PK_TEAMS_APPLICATIONS_TAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP]  WITH CHECK ADD  CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_APPLICATIONS_APP] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APPLICATIONS_APP] ([ID])
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP] CHECK CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_APPLICATIONS_APP]
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP]  WITH CHECK ADD  CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_TEAMS_TMS] FOREIGN KEY([TMS_ID])
REFERENCES [dbo].[TEAMS_TMS] ([ID])
GO
ALTER TABLE [dbo].[TEAMS_APPLICATIONS_TAP] CHECK CONSTRAINT [FK_TEAMS_APPLICATIONS_TAP_TEAMS_TMS]
GO
