USE [UMIG]
GO
/****** Object:  Table [dbo].[LOGS_LOG]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGS_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PHS_ID] [int] NULL,
	[STP_ID] [int] NULL,
	[STS_ID] [int] NULL,
	[LOG_MESSAGE] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOGS_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
