USE [UMIG]
GO
/****** Object:  Table [dbo].[PHASES_PHS]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHASES_PHS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PHS_CODE] [nvarchar](50) NOT NULL,
	[PHS_NAME] [nvarchar](50) NULL,
	[PHS_START_DATE] [datetime] NULL,
	[PHS_DURATION] [int] NULL,
 CONSTRAINT [PK_PHASES_PHS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
