USE [UMIG]
GO
/****** Object:  Table [dbo].[ROLES_RLS]    Script Date: 20.06.2025 16:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES_RLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RLS_CODE] [nvarchar](10) NOT NULL,
	[RLS_NAME] [nvarchar](30) NOT NULL,
	[RLS_DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_ROLES_RLS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
